/* Upper Banner Styles */
.banner {
    width: 100%;
    background-color: #2c2c2c;
    padding: 10px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Fade in/out effect */
}

.logo-container {
    width: 200px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1; /* Initially visible */
    transition: opacity 1s ease; /* Fade effect */
}

.logoContainerSmall {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none; /* Prevent interaction when hidden */
}

.visible {
    opacity: 1 !important;
    pointer-events: auto; /* Allow interaction when visible */
}

#intelLogo {
    width: 30%;
}

#intelLogoSmall {
    width: 20%;
}

/* Body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

#cardDiv {
    display: flex;
    justify-content: center;
}

.cards-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    width: 80%;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Fade in/out effect */
}

.card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
}

.img-div {
    max-height: 250px;
    overflow: hidden;
}

.card-content {
    padding: 20px;
    background-color: #fff;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-subtitle {
    font-size: 1.2rem;
    color: #6974ab;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    color: #666;
}

/* Card hover effect */
.card-hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: top 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.card-hover .hover-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}

.card-hover .hover-description {
    font-size: 0.9rem;
    margin-top: 5px;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .card-hover {
    top: 0;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}
